body {
    height:100vh;
    width:100vw;
    margin: 0px;
    overflow:hidden;
    background-color: black;
}

#errors {
    background-color: white;
}

#controls {
    background-color: #212121;
    padding: 10px;
    position: absolute;
    width: 100%;
    z-index: 99;
    top: 0px;
    color: wheat
}

.mirrored {
    /* flip/mirror text: */
    -moz-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    transform: scaleX(-1);
    -ms-filter: fliph; /*IE*/
    filter: fliph; /*IE*/
}

#promptArea {
    font-size:100%;

    background-color: black;

    /*fit screen, hide scrollbars:*/
    height:98%;
    width:98%;
    margin:1%;
    overflow:scroll;
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;  /* Firefox */
}

#promptArea::-webkit-scrollbar { 
    display: none;  /* hide scrollbars on Safari and Chrome */
}

/* don't show an outline when "focused" */
#promptArea:focus {
    outline-width: 0;
}

/* Invert color on all children of the prompter area: */
#promptArea>*{
    -webkit-filter: invert(100%);
    filter: invert(100%);
}

/* spacer elements to make it possible to scroll all the way up/down
   so that only top/botttom line of text is visible
 */
.promptSpacer {
    height:calc(100% - 1em)
}

.setting_span{
    display: inline-block;
    border: 1px solid darkgray;
    padding: 2px;
    margin-right: 20px;
    margin-bottom: 5px;
}

button {
    margin:2px;
    font-size: inherit;
}

input {
    font-size: inherit;
}

@media only screen and (max-width: 650px) {
    #controls {
        font-size: 20pt
    }
} 